
<%- include('partials/header') -%>

<link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet"/>
    
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
<!-- main body -->
<div class="main-body">
 
    <!-- report-body -->
    <div class="report-body">
        <!-- reports -->
     <%reports.reverse().forEach((report)=>{%>
        <div class="reports" onclick="location.href=href='/report/<%=report._id%>';">
                <div class="reporter">

                    <div>
                        <img src="assets/ktm.png" alt="">
                        <h3>Rohan Maharjan</h3>
                    </div>
                    <div>                    
                        <a href="/report/<%=report._id%>"><span class="material-icons" id="more-vert">
                            more_vert
                        </span></a>
                    </div>
                </div>
                
                <h1>
                    <%=report.title%>
                </h1>
                <div class="report-content">
                    <p>
                        <%=report.description.substring(0,200)%>
                        <a href="/report/<%=report._id%>"><b>. . . Read More</b> </a>
                    </p>
                    <img src="<%=report.cloudinary_url%>" >
                </div>
           
        </div>
    <%})%>
        
    </div>
</div>
<script src="/script.js"></script>

  

